In [3]:
# import packages

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sb

# import dataset

data = pd.read_csv('framingham.csv')
data.head()

   male  age  education  currentSmoker  ...    BMI  heartRate  glucose  TenYearCHD
0     1   39        4.0              0  ...  26.97       80.0     77.0           0
1     0   46        2.0              0  ...  28.73       95.0     76.0           0
2     1   48        1.0              1  ...  25.34       75.0     70.0           0
3     0   61        3.0              1  ...  28.58       65.0    103.0           1
4     0   46        3.0              1  ...  23.10       85.0     85.0           0

[5 rows x 16 columns]

In [4]:
# view dataset
data.head()

   male  age  education  currentSmoker  ...    BMI  heartRate  glucose  TenYearCHD
0     1   39        4.0              0  ...  26.97       80.0     77.0           0
1     0   46        2.0              0  ...  28.73       95.0     76.0           0
2     1   48        1.0              1  ...  25.34       75.0     70.0           0
3     0   61        3.0              1  ...  28.58       65.0    103.0           1
4     0   46        3.0              1  ...  23.10       85.0     85.0           0

[5 rows x 16 columns]

In [5]:
# check dimensions
data.shape

(4240, 16)

In [6]:
# removing duplicates
data.drop_duplicates()
data.shape

(4240, 16)

In [7]:
# checking for blank cells
data.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [8]:
data.fillna(0, inplace = True)

In [9]:
# checking for blank cells
data.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [10]:
# get the mean, standard deviation, count, mix and max of the dataset
data.describe()

              male          age  ...      glucose   TenYearCHD
count  4240.000000  4240.000000  ...  4240.000000  4240.000000
mean      0.429245    49.580189  ...    74.463208     0.151887
std       0.495027     8.572942  ...    32.862256     0.358953
min       0.000000    32.000000  ...     0.000000     0.000000
25%       0.000000    42.000000  ...    68.000000     0.000000
50%       0.000000    49.000000  ...    77.000000     0.000000
75%       1.000000    56.000000  ...    85.000000     0.000000
max       1.000000    70.000000  ...   394.000000     1.000000

[8 rows x 16 columns]

In [11]:
# show the datatypes 
data.dtypes

male                 int64
age                  int64
education          float64
currentSmoker        int64
cigsPerDay         float64
BPMeds             float64
prevalentStroke      int64
prevalentHyp         int64
diabetes             int64
totChol            float64
sysBP              float64
diaBP              float64
BMI                float64
heartRate          float64
glucose            float64
TenYearCHD           int64
dtype: object

In [12]:
# using creating a dictonary to convert specific objects 
convert_dict = {"male" : str,
               "education" : str,
               "currentSmoker" : str,
               "BPMeds" : str,
               "prevalentStroke" : str,
               "prevalentHyp" : str,
               "diabetes" : str,
               "TenYearCHD" : str}

In [13]:
# number of columns per data type 
list(set(data.dtypes.tolist()))

[dtype('int64'), dtype('float64')]

In [14]:
data.shape

(4240, 16)

In [15]:
# Feature Selection

# call packages
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [16]:
# separate the independent columns
x = data.iloc[:, 0:14]

# separate the dependent column
y = data.iloc[:, 15]

In [17]:
x.head()

   male  age  education  currentSmoker  ...  sysBP  diaBP    BMI  heartRate
0     1   39        4.0              0  ...  106.0   70.0  26.97       80.0
1     0   46        2.0              0  ...  121.0   81.0  28.73       95.0
2     1   48        1.0              1  ...  127.5   80.0  25.34       75.0
3     0   61        3.0              1  ...  150.0   95.0  28.58       65.0
4     0   46        3.0              1  ...  130.0   84.0  23.10       85.0

[5 rows x 14 columns]

In [18]:
y.head()

0    0
1    0
2    0
3    1
4    0
Name: TenYearCHD, dtype: int64

In [19]:
# Using SelectKBest to extract top 10 features
from sklearn.feature_selection import SelectKBest
topfeatures = SelectKBest(score_func = chi2, k = 10)
fit = topfeatures.fit(x, y)
xyscore = pd.DataFrame(fit.scores_)
xycolumn = pd.DataFrame(x.columns)

In [20]:
# Concatenate both data frames to get features and scores
featurescore = pd.concat([xycolumn, xyscore], axis = 1)

# rename columns featurescore dataframe
featurescore.columns = ["Feature", "Score"]

In [21]:
# Sort the featurescore by higest-to-lowest scores
featurescore = featurescore.sort_values(by = "Score", ascending= False)
featurescore

            Feature       Score
10            sysBP  727.935535
1               age  319.266019
4        cigsPerDay  231.669558
9           totChol  210.439056
11            diaBP  152.748563
7      prevalentHyp   92.048736
8          diabetes   39.144944
5            BPMeds   30.759595
0              male   18.899930
6   prevalentStroke   16.109887
2         education    6.407393
12              BMI    5.575774
13        heartRate    3.032347
3     currentSmoker    0.811334

In [22]:
# Selecting thr 10 most important features
features_list = featurescore["Feature"].tolist()[:10]
features_list

['sysBP',
 'age',
 'cigsPerDay',
 'totChol',
 'diaBP',
 'prevalentHyp',
 'diabetes',
 'BPMeds',
 'male',
 'prevalentStroke']

In [23]:
# New Dataset with Selected FeaturesÂ¶

data = data[["male", "age", "cigsPerDay", "prevalentStroke", "prevalentHyp", "diabetes", "totChol", "sysBP", "TenYearCHD"]]
data.head()

   male  age  cigsPerDay  prevalentStroke  ...  diabetes  totChol  sysBP  TenYearCHD
0     1   39         0.0                0  ...         0    195.0  106.0           0
1     0   46         0.0                0  ...         0    250.0  121.0           0
2     1   48        20.0                0  ...         0    245.0  127.5           0
3     0   61        30.0                0  ...         0    225.0  150.0           1
4     0   46        23.0                0  ...         0    285.0  130.0           0

[5 rows x 9 columns]

In [24]:
# Calling packages

from sklearn.preprocessing import MinMaxScaler

In [25]:
# Create scaler
scaler = MinMaxScaler()

# create scaled data
data_scaled = pd.DataFrame(scaler.fit_transform (data), columns = data.columns)

# view scaled data
data_scaled.describe()

              male          age  ...        sysBP   TenYearCHD
count  4240.000000  4240.000000  ...  4240.000000  4240.000000
mean      0.429245     0.462637  ...     0.230991     0.151887
std       0.495027     0.225604  ...     0.104176     0.358953
min       0.000000     0.000000  ...     0.000000     0.000000
25%       0.000000     0.263158  ...     0.158392     0.000000
50%       0.000000     0.447368  ...     0.210402     0.000000
75%       1.000000     0.631579  ...     0.286052     0.000000
max       1.000000     1.000000  ...     1.000000     1.000000

[8 rows x 9 columns]

In [26]:
# Divide Train & Test Data
# Divide data into train and test data with a 75-25 split first.

# Create X and Y data

x = data_scaled.drop(["TenYearCHD"], axis = 1)
y = data_scaled["TenYearCHD"]

# Data Split library 
from sklearn.model_selection import train_test_split

# 80-20 Split 

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.20)

In [56]:
# Decision Tree classifier 

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score #works

dtree_model = DecisionTreeClassifier().fit(X_train, y_train)
print("train accuracy:",dtree_model.score(X_train,y_train))
print("test accuracy:",dtree_model.score(X_test,y_test))
dtree_predictions = dtree_model.predict(X_test)
print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, dtree_predictions)))

train accuracy: 0.9997051886792453
test accuracy: 0.7441037735849056
Model accuracy score: 0.7441

In [33]:
# Naive Bayes 

from sklearn.naive_bayes import GaussianNB
# instantiate the model
gnb = GaussianNB()
# fit the model
gnb.fit(X_train, y_train)
print("train accuracy:",gnb.score(X_train,y_train))
print("test accuracy:",gnb.score(X_test,y_test))
gnb_pred = gnb.predict(X_test)
print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, gnb_pred)))

train accuracy: 0.8369693396226415
test accuracy: 0.8290094339622641
Model accuracy score: 0.8290

In [35]:
#  Support Vector Machine

from sklearn.svm import SVC
svm=SVC(random_state=1)
svm.fit(X_train,y_train)
print("train accuracy:",svm.score(X_train,y_train))
print("test accuracy:",svm.score(X_test,y_test))
svm_pred = svm.predict(X_test)
print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, svm_pred)))

train accuracy: 0.8537735849056604
test accuracy: 0.8349056603773585
Model accuracy score: 0.8349

In [39]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from keras.models import Sequential
from keras.layers import Dense


#initialising the Aritificial Neural Network
classifier = Sequential()

#adding the input layer and first hidden layer
classifier.add(Dense(64, input_dim=8, activation='relu'))

#adding the second hidden layer
classifier.add(Dense(12, activation='relu'))
#classifier.add(Dense(output_dim = 6,init = 'uniform',activation = 'relu'))

#adding the output layer
classifier.add(Dense(1, activation='relu'))
#classifier.add(Dense(output_dim = 1,init = 'uniform',activation = 'sigmoid'))

#compling the Artificial neural network
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

#fitting the training set
history=classifier.fit(X_train, y_train, batch_size = 10, epochs = 50, verbose = 1)

Epoch 1/50
340/340 [==============================] - 1s 2ms/step - loss: 0.4012 - accuracy: 0.8520
Epoch 2/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3877 - accuracy: 0.8514
Epoch 3/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3860 - accuracy: 0.8520
Epoch 4/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3802 - accuracy: 0.8520
Epoch 5/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3830 - accuracy: 0.8520
Epoch 6/50
340/340 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8535
Epoch 7/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3819 - accuracy: 0.8529
Epoch 8/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3791 - accuracy: 0.8526
Epoch 9/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3791 - accuracy: 0.8547
Epoch 10/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3812 - accuracy: 0.8529
Epoch 11/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3784 - accuracy: 0.8547
Epoch 12/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3770 - accuracy: 0.8538
Epoch 13/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3770 - accuracy: 0.8526
Epoch 14/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3781 - accuracy: 0.8526
Epoch 15/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3764 - accuracy: 0.8547
Epoch 16/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3762 - accuracy: 0.8550
Epoch 17/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3763 - accuracy: 0.8550
Epoch 18/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3771 - accuracy: 0.8541
Epoch 19/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3771 - accuracy: 0.8544
Epoch 20/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3771 - accuracy: 0.8541
Epoch 21/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3760 - accuracy: 0.8555
Epoch 22/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3746 - accuracy: 0.8558
Epoch 23/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3760 - accuracy: 0.8567
Epoch 24/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3758 - accuracy: 0.8555
Epoch 25/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3744 - accuracy: 0.8555
Epoch 26/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3728 - accuracy: 0.8558
Epoch 27/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3739 - accuracy: 0.8538
Epoch 28/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3739 - accuracy: 0.8535
Epoch 29/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3732 - accuracy: 0.8541
Epoch 30/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3736 - accuracy: 0.8544
Epoch 31/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3722 - accuracy: 0.8547
Epoch 32/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3736 - accuracy: 0.8547
Epoch 33/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3712 - accuracy: 0.8558
Epoch 34/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3703 - accuracy: 0.8550
Epoch 35/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3755 - accuracy: 0.8544
Epoch 36/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3699 - accuracy: 0.8555
Epoch 37/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3744 - accuracy: 0.8567
Epoch 38/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3681 - accuracy: 0.8561
Epoch 39/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3690 - accuracy: 0.8570
Epoch 40/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3699 - accuracy: 0.8555
Epoch 41/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3678 - accuracy: 0.8570
Epoch 42/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3684 - accuracy: 0.8561
Epoch 43/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3676 - accuracy: 0.8576
Epoch 44/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3679 - accuracy: 0.8558
Epoch 45/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3666 - accuracy: 0.8564
Epoch 46/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3650 - accuracy: 0.8591
Epoch 47/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3658 - accuracy: 0.8570
Epoch 48/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3644 - accuracy: 0.8564
Epoch 49/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3642 - accuracy: 0.8547
Epoch 50/50
340/340 [==============================] - 1s 2ms/step - loss: 0.3654 - accuracy: 0.8567

In [40]:
y_pred = classifier.predict(X_test)

score = classifier.evaluate(X_test, y_test, verbose=1)

print(score)

27/27 [==============================] - 0s 2ms/step - loss: 0.4351 - accuracy: 0.8408
[0.4350600838661194, 0.8408018946647644]